*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(64, 160, 255);
    padding: 0 10px;
}

.container{
    max-width: 500px;
    width: 100%;
    background-color: white;
    margin: 70px auto;
    /* padding: 44px; */
    box-shadow: 0px 0px 16px #4c1515;
    border-radius: 10px;

}
 
.container  .title{
    margin-bottom: 35px;
font-size: 30px;
font-weight: 500;
text-align: center;
text-transform: uppercase;
color: #4c1515;
}

.container .form{
    width: 100%;
}


.container .form .input_field{
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.container .form .input_field label
{
  width: 115px;
  margin-right: 10px;
  font-size: 15px;
}

.container .form .input_field input,
.container .form .input_field .textarea{
    width: 71%;
    border: 1px solid rgb(64, 160, 255);
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 3px;
}

.container .form .input_field .textarea{
    resize: none;
    height: 66px;
    font-size: 15px;
}

.container .form .input_field .custom_select{
    position: relative;
    width: 72%;
    height: 30px;
}

.container .form .input_field .custom_select select{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 15px;
    border: 1px solid black;
}


.container .form .input_field .custom_select::before{
    content: "";
    position: absolute;
    top: 11px;
    right: 10px;
   border: 8px solid black;
   border-color:black transparent transparent transparent;
   pointer-events: none;
}

.container .form .input_field .checked{
    width: 20px;
height: 20px;
    position: relative;
    display: block;
    cursor: pointer;
}

.container .form .input_field p{
    font-size: 15px;
    width: 345%;
}

.container .form .input_field .btn{
    width: 100%;
    padding: 10px 10px;
    border: 0px;
    background: #40a0ff;
    cursor: pointer;
    color: white;
}

@media screen and (max-width:420px) {

    .container .form .input_field{
        flex-direction: column;
        align-items: flex-start;
    }

    .container .form .input_field label{
        margin-bottom: 5px;
    }

    .container .form .input_field.terms{
        flex-direction: row;
    }



}